@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #000; 
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #dc2626, #ea580c); 
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #fff; 
}

/* Selection Color */
::selection {
  background: #dc2626;
  color: white;
}